---
---

<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wpocean.com/html/tf/love-love/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Nov 2022 09:09:01 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="wpOceans" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/images/favicon.png"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lộc Đinh &amp; Dung Trần Wedding site!</title>
    <meta
      name="description"
      content="Lộc Đinh & Dung Trần - Our wedding date: 14/12/2022 | Bắt đầu từ hôm nay chúng ta sẽ viết nên một chương mới của cuộc đời. Bằng tình thương yêu và hạnh phúc nhất."
    />
    <meta property="og:site_name" content="Lộc Đinh & Dung Trần" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lộc Đinh & Dung Trần Wedding site!" />
    <meta property="og:url" content="https://theloc-thuydung.netlify.app" />
    <meta
      property="og:description"
      content="Lộc Đinh & Dung Trần - Our wedding date: 14/12/2022 | Bắt đầu từ hôm nay chúng ta sẽ viết nên một chương mới của cuộc đời. Bằng tình thương yêu và hạnh phúc nhất."
    />
    <meta
      property="og:image"
      content="https://theloc-thuydung.netlify.app/assets/images/slider/locdung/h3.png"
    />
    <meta
      property="og:image:alt"
      content="https://theloc-thuydung.netlify.app/assets/images/slider/locdung/h3.png"
    />
    <meta
      property="og:image:url"
      content="https://theloc-thuydung.netlify.app/assets/images/slider/locdung/h3.png"
    />
    <meta
      property="og:image:secure_url"
      content="https://theloc-thuydung.netlify.app/assets/images/slider/locdung/h3.png"
    />

    <link href="/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/flaticon.css" rel="stylesheet" />
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="/assets/css/owl.theme.css" rel="stylesheet" />
    <link href="/assets/css/slick.css" rel="stylesheet" />
    <link href="/assets/css/slick-theme.css" rel="stylesheet" />
    <link href="/assets/css/swiper.min.css" rel="stylesheet" />
    <link href="/assets/css/nice-select.css" rel="stylesheet" />
    <link href="/assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="/assets/css/odometer-theme-default.css" rel="stylesheet" />
    <link href="/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="/assets/sass/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">
      <!-- start preloader -->
      <div class="preloader">
        <div class="vertical-centered-box">
          <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
              <div class="loader-line"></div>
            </div>
            <img src="assets/images/preloader.svg" alt="" />
          </div>
        </div>
      </div>
      <!-- end preloader -->

      <!-- start wpo-wedding-date -->
      <section class="wpo-wedding-date">
        <div class="container">
          <h2 class="wow fadeInUp" data-wow-duration="1000ms">
            <span class="shape-1"
              ><img src="assets/images/slider/shape.png" alt="" />
            </span>
            Dung Tran & Loc Dinh
            <span class="shape-2"
              ><img src="assets/images/slider/shape2.png" alt="" />
            </span>
          </h2>
          <p class="wow fadeInUp" data-wow-duration="1200ms">
            We Are Getting Married December 14, 2022
          </p>
          <div class="row wow fadeInUp" data-wow-duration="1400ms">
            <div class="col col-xs-12">
              <div class="clock-grids">
                <div id="clock"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end wpo-wedding-date -->

      <!-- start of hero -->
      <section class="wpo-hero-slider wpo-hero-style-3">
        <h2 class="hidden">some</h2>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div
                class="slide-inner slide-bg-image"
                data-background="assets/images/slider/locdung/h1.png"
              >
              </div>
              <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->

            <div class="swiper-slide">
              <div
                class="slide-inner slide-bg-image"
                data-background="assets/images/slider/locdung/h2.png"
              >
              </div>
              <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->

            <div class="swiper-slide">
              <div
                class="slide-inner slide-bg-image"
                data-background="assets/images/slider/locdung/h3.png"
              >
              </div>
              <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
          </div>
          <!-- end swiper-wrapper -->

          <!-- swipper controls -->
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <!-- end of hero slider -->

      <!-- start wpo-event-section -->
      <section class="wpo-event-section section-padding pb-0" id="event">
        <div class="container">
          <div class="wpo-section-title">
            <h4>Our Wedding</h4>
            <h2>When & Where</h2>
          </div>
          <div class="wpo-event-wrap">
            <div class="row">
              <div class="col col-lg-4 col-md-6 col-12">
                <div class="wpo-event-item">
                  <div class="wpo-event-img">
                    <img src="assets/images/event/locdung1.png" alt="" />
                    <div class="title"><h2>Quang Tri wedding</h2></div>
                  </div>
                  <div class="wpo-event-text" style="min-height: 348px;">
                    <ul>
                      <li>Wednesday, 14 December, 2022 11:00 AM</li>
                      <li>Address: Kim Cuc Palace</li>
                      <li>
                        178 - 180, 2/4 Street, Gio Linh Town, Quang Tri
                        Province.
                      </li>
                      <li>
                        <a
                          class="popup-gmaps"
                          href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15268.042483688347!2d107.0923258!3d16.9247683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabdfa13188652766!2sKim%20C%C3%BAc%20Palace!5e0!3m2!1svi!2s!4v1669873627902!5m2!1svi!2s"
                          >See Location</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4 col-md-6 col-12">
                <div class="wpo-event-item">
                  <div class="wpo-event-img">
                    <img src="assets/images/event/locdung2.png" alt="" />
                    <div class="title"><h2>Dak Nong wedding</h2></div>
                  </div>
                  <div class="wpo-event-text" style="min-height: 348px;">
                    <ul>
                      <li>March, 2023</li>
                      <li>
                        Address: 03 Ngo Gia Tu Street, Dak Mil Town, Dak Nong
                        Province
                      </li>
                      <li>
                        <a
                          class="popup-gmaps"
                          href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15268.042483688347!2d107.0923258!3d16.9247683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabdfa13188652766!2sKim%20C%C3%BAc%20Palace!5e0!3m2!1svi!2s!4v1669873627902!5m2!1svi!2s"
                          >See Location</a
                        >
                      </li>

                      <!-- <li>
                        <a
                          class="popup-gmaps"
                          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25211.21212385712!2d144.95275648773628!3d-37.82748510398018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0x5045675218ce7e0!2zTWVsYm91cm5lIFZJQyAzMDA0LCDgpoXgprjgp43gpp_gp43gprDgp4fgprLgpr_gpq_gprzgpr4!5e0!3m2!1sbn!2sbd!4v1503742051881"
                          >See Location</a
                        >
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4 col-md-6 col-12">
                <div class="wpo-event-item">
                  <div class="wpo-event-img">
                    <img src="assets/images/event/locdung3.png" alt="" />
                    <div class="title"><h2>Sai Gon wedding</h2></div>
                  </div>
                  <div class="wpo-event-text" style="min-height: 348px;">
                    <ul>
                      <li>April, 2023</li>
                      <li>
                        Address: Sai Gon Q7 Riverside, 04 Dao Tri Street,
                        District 7, Ho Chi Minh City.
                      </li>
                      <li>
                        <a
                          class="popup-gmaps"
                          href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15268.042483688347!2d107.0923258!3d16.9247683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabdfa13188652766!2sKim%20C%C3%BAc%20Palace!5e0!3m2!1svi!2s!4v1669873627902!5m2!1svi!2s"
                          >See Location</a
                        >
                      </li>

                      <!-- <li>
                        <a
                          class="popup-gmaps"
                          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25211.21212385712!2d144.95275648773628!3d-37.82748510398018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0x5045675218ce7e0!2zTWVsYm91cm5lIFZJQyAzMDA0LCDgpoXgprjgp43gpp_gp43gprDgp4fgprLgpr_gpq_gprzgpr4!5e0!3m2!1sbn!2sbd!4v1503742051881"
                          >See Location</a
                        >
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end wpo-event-section -->

      <!-- start couple-section -->
      <section class="wpo-couple-section section-padding" id="couple">
        <div class="container">
          <div class="couple-area clearfix">
            <div class="row align-items-center">
              <div class="col col-md-5 col-12">
                <div
                  class="couple-item wow fadeInRightSlow"
                  data-wow-duration="1700ms"
                >
                  <div class="couple-img">
                    <img src="assets/images/couple/loc.png" alt="" />
                  </div>
                  <div class="couple-text">
                    <h3>Dinh The Loc</h3>
                    <p>Introverted, calm, quiet, kind and dependable.</p>
                  </div>
                </div>
              </div>
              <div class="col col-md-2 col-12">
                <div
                  class="middle-couple-shape wow fadeInUp"
                  data-wow-duration="1000ms"
                >
                  <div class="shape">
                    <img src="assets/images/couple/shape.png" alt="" />
                  </div>
                </div>
              </div>

              <div class="col col-md-5 col-12">
                <div
                  class="couple-item wow fadeInLeftSlow"
                  data-wow-duration="1700ms"
                >
                  <div class="couple-img">
                    <img src="assets/images/couple/dung.png" alt="" />
                  </div>
                  <div class="couple-text">
                    <h3>Tran Thi Thuy Dung</h3>
                    <p>
                      Super extroverted, intelligent, ambitious, humorous and
                      enthusiastic.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end couple-section -->
      <section class="wpo-video-section-s2 pb-0 section-padding">
        <h2 class="hidden">some</h2>
        <div class="container">
          <div class="video-wrap">
            <img src="assets/images/_PHY3810.jpg" alt="" />
            <a
              href="https://www.youtube.com/embed/_M0Z7EKoLxw"
              class="video-btn"
              data-type="iframe"
              ><i class="fi flaticon-play"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- start wpo-story-section -->
      <section class="wpo-story-section section-padding" id="story">
        <div class="container-fluid">
          <div class="wpo-section-title">
            <h4>Our Story</h4>
            <h2>Our Sweet love story</h2>
          </div>
          <div class="wpo-story-wrap">
            <div class="wpo-story-item">
              <div class="wpo-story-img-wrap">
                <div
                  class="wpo-story-img wow zoomIn"
                  data-wow-duration="1000ms"
                >
                  <img src="assets/images/story/dungloc1.png" alt="" />
                </div>
                <div class="wpo-img-shape">
                  <img src="assets/images/story/shape.png" alt="" />
                </div>
              </div>
              <div class="wpo-story-content">
                <div
                  class="wpo-story-content-inner wow fadeInRightSlow"
                  data-wow-duration="1700ms"
                >
                  <h2>First Time We Meet</h2>
                  <span>September 2012</span>
                  <p>
                    I remember the day when we were a newcomer to PTIT HCM
                    University. In the first week, we had a chance to learn new
                    things related to our studies. Teachers told us to take
                    notes but he hadn't finished. He borrowed my notebook and
                    told me Oh! your handwriting is so nice.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpo-story-item">
              <div class="wpo-story-img-wrap">
                <div
                  class="wpo-story-img wow zoomIn"
                  data-wow-duration="1000ms"
                >
                  <img src="assets/images/story/dungloc2.png" alt="" />
                </div>
                <div class="wpo-img-shape">
                  <img src="assets/images/story/shape.png" alt="" />
                </div>
              </div>
              <div class="wpo-story-content">
                <div
                  class="wpo-story-content-inner wow fadeInLeftSlow"
                  data-wow-duration="1700ms"
                >
                  <h2>Our First Date</h2>
                  <span>April 2013</span>
                  <p>
                    He hadn't bared his heart to me before until we went on the
                    first trip to Tien Giang city with our friends, at night
                    when we went out, he suddenly kissed me. It is also a
                    milestone in our journey - an officially starting to love
                    each other.
                  </p>
                </div>
              </div>
            </div>
            <div class="wpo-story-item">
              <div class="wpo-story-img-wrap">
                <div
                  class="wpo-story-img wow zoomIn"
                  data-wow-duration="1000ms"
                >
                  <img src="assets/images/story/dungloc3.png" alt="" />
                </div>
                <div class="wpo-img-shape">
                  <img src="assets/images/story/shape.png" alt="" />
                </div>
              </div>
              <div class="wpo-story-content">
                <div
                  class="wpo-story-content-inner wow fadeInRightSlow"
                  data-wow-duration="1700ms"
                >
                  <h2>She Said Yes</h2>
                  <span>5 March 2022</span>
                  <p>
                    The Marriage Proposal not only makes me surprised but also
                    the whole friends. He bought a proposal ring, a big bouquet
                    of roses, and a disclosure for only one friend who helped
                    him reserve the restaurant. No one knows his plan. When he
                    drove down the street, while I put my arm around him, I felt
                    a square box that looked quite like a ring box. I was a bit
                    confused. When we arrived at the restaurant, I saw a huge
                    bouquet. Since that day was two friends ' birthdays, I
                    thought the flower wasn't for me but not. His promise came
                    true. He proposed in such a way.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end story-section -->
      <!-- start wpo-portfolio-section -->
      <section
        class="wpo-portfolio-section-s2 pb-0 section-padding"
        id="gallery"
      >
        <div class="container">
          <div class="wpo-section-title">
            <h4>Sweet Memories</h4>
            <h2>Our Captured Moments</h2>
          </div>
          <div class="sortable-gallery">
            <div class="gallery-filters"></div>
            <div class="row">
              <div class="col-lg-12">
                <div class="portfolio-grids gallery-container clearfix">
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull1.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="/assets/images/portfolio/dungloc1.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull2.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="assets/images/portfolio/dungloc2.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull3.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="assets/images/portfolio/dungloc3.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull4.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="assets/images/portfolio/dungloc4.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull5.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="assets/images/portfolio/dungloc5.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull6.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="assets/images/portfolio/dungloc6.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a
                        href="/assets/images/portfolio/dunglocfull7.png"
                        class="fancybox"
                        data-fancybox-group="gall-1"
                      >
                        <img
                          src="assets/images/portfolio/dungloc7.png"
                          alt=""
                          class="img img-responsive"
                        />
                        <div class="hover-content">
                          <i class="ti-plus"></i>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end wpo-portfolio-section -->

      <!-- start of wpo-contact-section -->
      <section class="wpo-contact-section-s3 section-padding" id="rsvp">
        <div class="container">
          <div class="row align-items-center">
            <div class="col col-xl-4 col-lg-6 col-md-12 col-12">
              <div
                class="wpo-contact-section-wrapper wow fadeInLeftSlow"
                data-wow-duration="1700ms"
              >
                <div class="wpo-contact-form-area">
                  <div class="wpo-section-title">
                    <h4>Are You Attending?</h4>
                  </div>
                  <form
                    method="post"
                    class="contact-validation-active"
                    id="contact-form-main"
                    name="contact"
                    data-netlify="true"
                  >
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        placeholder="Name"
                      />
                    </div>
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        name="phone"
                        id="phone"
                        placeholder="Phone"
                      />
                    </div>
                    <div class="radio-buttons">
                      <p>
                        <input
                          type="radio"
                          id="attend"
                          name="radio-group"
                          checked
                          value="yes"
                        />
                        <label for="attend">Yes, I will be there</label>
                      </p>
                      <p>
                        <input
                          type="radio"
                          id="not"
                          name="radio-group"
                          value="no"
                        />
                        <label for="not">Sorry, I can’t come</label>
                      </p>
                    </div>
                    <div>
                      <select name="guest" class="form-control">
                        <option disabled="disabled" selected
                          >Number Of Guests</option
                        >
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                      </select>
                    </div>
                    <div class="submit-area">
                      <button type="submit" class="theme-btn">Send</button>
                      <div id="c-loader">
                        <i class="ti-reload"></i>
                      </div>
                    </div>
                    <div class="clearfix error-handling-messages">
                      <div id="success">Thank you</div>
                      <div id="error">
                        Error occurred while sending email. Please try again
                        later.
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col col-xl-8 col-lg-6 col-md-12 col-12">
              <div
                class="contact-img wow fadeInRightSlow"
                data-wow-duration="1700ms"
              >
                <img src="assets/images/contact/dungloc.png" alt="" />

                <div class="rsvp-info">
                  <div class="info-left">
                    <h2>We Are Getting Married!</h2>
                    <p>
                      Please send us thousands of wishes, thousands of love
                      sentences. We will be very happy to meet you in a warm
                      wedding party at 11:00 AM on December 14, 2022 in Gio Linh
                      town, Quang Tri province.
                    </p>
                  </div>
                  <!-- <div class="btn">
                    <a class="theme-btn" href="rsvp.html">Discover More</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end of wpo-contact-section -->

      <!-- wpo-site-footer start -->
      <div class="wpo-site-footer text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer-image">
                <a class="logo" href="index.html"
                  ><img src="assets/images/logo.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- wpo-site-footer end -->
    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
    <script is:inline src="/assets/js/jquery.min.js"></script>
    <script is:inline src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins for this template -->
    <script is:inline src="/assets/js/modernizr.custom.js"></script>
    <script is:inline src="/assets/js/jquery.dlmenu.js"></script>
    <script is:inline src="/assets/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script is:inline src="/assets/js/script.js"></script>
  </body>

  <!-- Mirrored from wpocean.com/html/tf/love-love/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Nov 2022 09:10:19 GMT -->
</html>
